body{
    background: #1c1c31;
    color: #ffffff80;
}

/*nav i{
    font-size: 1.2rem;
    color:#0C85D0;
}*/

.main-cont{
    /*background:#03031b;*/
    padding:2rem;
    background:linear-gradient(to bottom, rgba(3,3,27, 0.7) 0%, rgba(3,3,27, 0.7) 100%),url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.carousal-item .active{
    display: block;
}


.floaty{
    position: relative;
    top:0%;
}
.card{
    width: 40%;
    margin: auto;
    background: #1c1c31;
    color: #ffffff80;

}

.results{
    background: #1c1c31;
    color: #ffffff80;
}
.graph-cont{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-width:500px;
}
@media (max-width: 700px) {

    .card{
        width:80%;
        margin-top: 3.5rem;
    }
}